<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>

    <link
      href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap"
      rel="stylesheet"
    />

    <title>오늘의 칼로리</title>
    <style>
      @font-face {
        font-family: "NanumSquareNeo-Variable";
        src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2")
          format("woff2");
        font-weight: normal;
        font-style: normal;
      }
      * {
        font-family: "NanumSquareNeo-Variable";
      }
    </style>
  </head>
  <body>
    <!-- header 시작 -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid d-flex">
        <div style="width: 80%">
          <a class="navbar-brand" href="#">오늘의 칼로리</a>
        </div>
        <div class="collapse navbar-collapse" id="navbarColor01">
          <div>
            <button type="button" class="btn btn-outline-light me-3">
              Login
            </button>
            <button type="button" class="btn btn-outline-dark">Sign-Up</button>
          </div>
        </div>
      </div>
    </nav>
    <!-- header 끝 -->

    <!-- cardBox 시작 -->
    <div class="card mb-3 col-2 mx-auto mt-5">
      <h3 class="card-header">음식 카드</h3>

      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="d-block user-select-none"
        width="100%"
        height="200"
        aria-label="Placeholder: Image cap"
        focusable="false"
        role="img"
        preserveAspectRatio="xMidYMid slice"
        viewBox="0 0 318 180"
        style="font-size: 1.125rem; text-anchor: middle"
      >
        <rect width="100%" height="100%" fill="#868e96"></rect>
        <text x="50%" y="50%" fill="#dee2e6" dy=".3em">음식이미지jpg로</text>
      </svg>
      <div class="card-body">
        <!-- 체크박스 자리 -->
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckDefault"
          />
          <label class="form-check-label" for="flexCheckDefault">
            음식 이름
          </label>
        </div>
      </div>
      <!-- 체크박스 음식이름 끝 -->
      <ul class="list-group list-group-flush">
        <li class="list-group-item">칼로리 : ㅇㅇㅇkcal</li>
        <li class="list-group-item">
          <label for="customRange1" class="form-label">먹은 양 체크</label>
          <input type="range" class="form-range" id="customRange1" />
        </li>
      </ul>
      <div class="card-body">
        <button type="button" class="btn btn-outline-success">
          칼로리계산하기
        </button>
      </div>
    </div>

    <!-- cardBox 끝 -->

    <!-- cardBox 댓글 시작 -->

    <div class="card mb-3 col-2 mx-auto mt-5">
      <h3 class="card-header">내가 먹은 음식 보기</h3>

      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="d-block user-select-none"
        width="100%"
        height="200"
        aria-label="Placeholder: Image cap"
        focusable="false"
        role="img"
        preserveAspectRatio="xMidYMid slice"
        viewBox="0 0 318 180"
        style="font-size: 1.125rem; text-anchor: middle"
      >
        <rect width="100%" height="100%" fill="#868e96"></rect>
        <text x="50%" y="50%" fill="#dee2e6" dy=".3em">음식이미지jpg로</text>
      </svg>
      <div class="card-body">
        <!-- 체크박스 자리 -->
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckDefault"
          />
          <label class="form-check-label" for="flexCheckDefault">
            음식 이름
          </label>
        </div>
      </div>
      <!-- 체크박스 음식이름 끝 -->
      <ul class="list-group list-group-flush">
        <li class="list-group-item">칼로리 : ㅇㅇㅇkcal</li>
        <li class="list-group-item">
          <label for="customRange1" class="form-label">먹은 양 체크</label>
          <input type="range" class="form-range" id="customRange1" />
        </li>
      </ul>
      <div class="card-body">
        <div class="form-group">
          <label for="exampleTextarea" class="form-label mt-4">댓글</label>
          <textarea
            class="form-control"
            id="exampleTextarea"
            rows="3"
          ></textarea>
        </div>
        <button type="button" class="btn btn-outline-success mt-3">
          댓글넣기
        </button>
      </div>
    </div>
    <!-- cardBox 댓글 끝 -->

    <!-- 로그인 화면 시작 -->
    <div class="card mx-auto col-2 mb-3" style="max-width: 20rem">
      <div class="card-header">로그인</div>
      <div class="card-body">
        <div class="form-group">
          <label class="form-label mt-4"></label>
          <div class="form-floating mb-3">
            <input
              type="email"
              class="form-control"
              id="floatingInput"
              placeholder="name@example.com"
            />
            <label for="floatingInput">id</label>
          </div>
          <div class="form-floating">
            <input
              type="password"
              class="form-control"
              id="floatingPassword"
              placeholder="Password"
            />
            <label for="floatingPassword">Password</label>
          </div>
        </div>
        <div class="mt-3">
          <button type="button" class="btn btn-outline-success me-3">
            Login
          </button>
          <button type="button" class="btn btn-outline-dark">Sign-Up</button>
        </div>
      </div>
    </div>
    <!-- 로그인 화면 끝 -->
    <!-- 회원가입 시작 -->
    <div class="card mx-auto col-2 mb-3" style="max-width: 20rem">
      <div class="card-header">회원가입</div>
      <div class="card-body">
        <div class="form-group">
          <label class="form-label mt-4"></label>
          <div class="form-floating mb-3">
            <input
              type="email"
              class="form-control"
              id="floatingInput"
              placeholder="name@example.com"
            />
            <label for="floatingInput">id</label>
          </div>
          <div class="form-floating">
            <input
              type="password"
              class="form-control"
              id="floatingPassword"
              placeholder="Password"
            />
            <label for="floatingPassword">Password</label>
          </div>
          <div class="form-group has-success">
            <label class="form-label" for="inputValid"></label>
            <input
              type="text"
              value="correct value"
              class="form-control is-valid"
              id="inputValid"
            />
            <div class="valid-feedback">Success! You've done it.</div>
          </div>
        </div>
        <div class="mt-3">
          <button type="button" class="btn btn-outline-success me-3">
            Login
          </button>
          <button type="button" class="btn btn-outline-dark">Sign-Up</button>
        </div>
      </div>
    </div>
    <!-- 회원가입 끝 -->
    <!-- admin 시작 -->
    <div class="card mb-3 col-3 mx-auto mt-5">
      <h3 class="card-header">내가 먹은 음식 보기</h3>

      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="d-block user-select-none"
        width="100%"
        height="200"
        aria-label="Placeholder: Image cap"
        focusable="false"
        role="img"
        preserveAspectRatio="xMidYMid slice"
        viewBox="0 0 318 180"
        style="font-size: 1.125rem; text-anchor: middle"
      >
        <rect width="100%" height="100%" fill="#868e96"></rect>
        <text x="50%" y="50%" fill="#dee2e6" dy=".3em">음식이미지jpg로</text>
      </svg>
      <div class="card-body">
        <!-- 체크박스 자리 -->
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckDefault"
          />
          <label class="form-check-label" for="flexCheckDefault">
            음식 이름
          </label>
        </div>
      </div>
      <!-- 체크박스 음식이름 끝 -->
      <ul class="list-group list-group-flush">
        <li class="list-group-item">칼로리 : ㅇㅇㅇkcal</li>
      </ul>
      <div class="card-body">
        <button type="button" class="btn btn-outline-success">수정</button>
        <button type="button" class="btn btn-outline-danger">삭제</button>
      </div>
    </div>

    <!-- admin 끝 -->

    <!-- admin 로그인 버튼 -->
    <div style="position: fixed; right: 2rem; bottom: 2rem">
      <button type="button" class="btn btn-outline-warning">admin</button>
    </div>
  </body>
</html>
